In [1]:
from cassandra.cluster import Cluster
import uuid
import sqlite3
import time
import random

In [2]:
uuid.uuid4()

UUID('c05eee47-c106-492d-b348-446b56489228')

In [3]:
cluster = Cluster(["127.0.0.1"],port=9042)

In [4]:
session = cluster.connect()

In [5]:
create_keyspace_query = """
    CREATE KEYSPACE IF NOT EXISTS users_keyspace
    WITH replication = {'class':'SimpleStrategy', 'replication_factor':1}
"""

session.execute(create_keyspace_query)

In [6]:
session.execute("USE users_keyspace")
session.execute(""" CREATE TABLE IF NOT EXISTS users (id UUID PRIMARY KEY, name TEXT, age INT ) """)

In [7]:
insertion_query = """INSERT INTO users (id,name,age) VALUES (?,?,?)"""

In [8]:
prepared_stmt = session.prepare(insertion_query)

In [9]:
session.execute(prepared_stmt,(uuid.uuid4(),"Alice",30))
session.execute(prepared_stmt,(uuid.uuid4(),"Bob",28))

In [10]:
result = session.execute("""SELECT * FROM users""")
for row in result:
    print(row.id,row.name,row.age)

75c149db-593f-4f8e-987d-d0b484fb032b Bob 28
29ba4df4-3574-4c93-b1ef-5b6b262616c5 Alice 30