In [3]:
import mysql.connector

try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='1234',
        database='advanced_sql')

    if connection.is_connected():
        print('Connected to MySQL database!')
    else:
        print('Failed to connect to the database.')
except mysql.connector.Error as e:
    print(f'Error connecting to MySQL: {e}')

Connected to MySQL database!

## Basic SQL

In [6]:
# Retrieve all columns from the "employees" table
cursor = connection.cursor()
query = 'SELECT * FROM employees'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John Doe', 35, Decimal('50000.00'), 'Sales')
(2, 'Jane Smith', 28, Decimal('42000.00'), 'HR')
(3, 'Mike Johnson', 42, Decimal('60000.00'), 'Finance')
(4, 'Emily Brown', 29, Decimal('48000.00'), 'IT')
(5, 'David Lee', 38, Decimal('55000.00'), 'Sales')

In [8]:
# Find the names and ages of all employees whose age is above 30
cursor = connection.cursor()
query = 'SELECT employee_name, age FROM employees WHERE age > 30'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('John Doe', 35)
('Mike Johnson', 42)
('David Lee', 38)

In [9]:
# List the unique cities in the "customers" table
cursor = connection.cursor()
query = 'SELECT DISTINCT city FROM customers'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('New York',)
('Los Angeles',)
('Chicago',)
('Houston',)
('San Francisco',)

In [12]:
# Calculate the total number of orders in the "orders" table
cursor = connection.cursor()
query = 'SELECT COUNT(order_id) FROM orders;'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(5,)

In [13]:
# Find the average price of all products in the "products" table
cursor = connection.cursor()
query = 'SELECT ROUND(AVG(price),2) FROM products;'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(Decimal('32.62'),)

## SQL Grouping

In [19]:
# Calculate the total sales amount for each product in the "sales" table
cursor = connection.cursor()
query = 'SELECT product_id, SUM(revenue) FROM sales GROUP BY product_id;'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(201, Decimal('204.00'))
(202, Decimal('70.40'))
(204, Decimal('109.90'))
(205, Decimal('75.60'))

In [10]:
# Find the number of customers in each country from the "customers" table
cursor = connection.cursor()
query = """SELECT city, COUNT(*) FROM customers GROUP BY city"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('New York', 1)
('Los Angeles', 1)
('Chicago', 1)
('Houston', 1)
('San Francisco', 1)

In [14]:
# Calculate the average salary for each department in the "employees" table
cursor = connection.cursor()
query = """SELECT department, ROUND(AVG(salary)) FROM employees GROUP BY department;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Sales', Decimal('52500'))
('HR', Decimal('42000'))
('Finance', Decimal('60000'))
('IT', Decimal('48000'))

In [15]:
# List the highest and lowest prices for each category in the "products" table
cursor = connection.cursor()
query = """SELECT category, MAX(price), MIN(price) FROM products GROUP BY category;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Electronics', Decimal('35.20'), Decimal('25.50'))
('Hardware', Decimal('15.80'), Decimal('15.80'))
('Toys', Decimal('10.99'), Decimal('10.99'))
('Home', Decimal('75.60'), Decimal('75.60'))

In [16]:
# Find the number of orders placed by each customer in the "orders" table
cursor = connection.cursor()
query = """SELECT customer_id, COUNT(order_id) FROM orders GROUP BY customer_id;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(101, 2)
(102, 1)
(103, 1)
(105, 1)

## SQL Aggregation

In [20]:
# Calculate the total revenue generated by the company from the "sales" table
cursor = connection.cursor()
query = """SELECT SUM(revenue) FROM sales;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(Decimal('459.90'),)

In [22]:
# Find the highest salary among all employees in the "employees" table
cursor = connection.cursor()
query = """SELECT ROUND(MAX(salary)) FROM employees;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(Decimal('60000'),)

In [23]:
# Calculate the average age of employees in the "employees" table
cursor = connection.cursor()
query = """SELECT AVG(age) FROM employees;"""
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(Decimal('34.4000'),)

In [ ]:
# Determine the number of distinct products in the "products" table

In [ ]:
# Calculate the total quantity sold for each product in the "sales" table

## Advanced SQL

In [ ]:
# Retrieve the top 5 employees with the highest salaries from the "employees" table

In [ ]:
# Find the names of all customers who have placed orders in the "customers" table

In [ ]:
# Calculate the running total sales for each month in the "sales" table

In [ ]:
# Determine the average sales amount over a 3-month sliding window for each product in the "sales" table

In [ ]:
# Rank customers based on their total order amounts in the "orders" table

## Window Functions in SQL

In [ ]:
# Calculate the cumulative sum of revenue for each product in the "sales" table

In [ ]:
# Find the moving average of prices for each product over a 5-day window in the "products" table

In [ ]:
# Assign percentile ranks to employees based on their salaries in the "employees" table

In [ ]:
# Retrieve the previous salary for each employee in the "employees" table,
# considering 0 as the default value for the first row

In [ ]:
# Calculate the sum of revenue for each product within a 2-day window,
# including the current row, in the "sales" table

In [ ]:

connection.close()
print('Connection closed.')